@import 'bourbon/bourbon';
$visual-grid: false;
$gutter: em(43px);
@import 'neat/neat';

$mobile: new-breakpoint(max-width 849px);
$desktop: new-breakpoint(min-width 850px);

body {
  margin: 0;
  background-color: #f5f5f1;
}


header {
  position: fixed;
  top: 0;
  z-index: 1;
  margin: 0 0 52px;
  box-shadow: 0 0 10px #d9d9d5;
  background-color: #fff;
  width: 100%;
  height: 82px;
  
  @include media($mobile){
    height: 180px;
  }

  .header-container {
    @include outer-container(90%);
  }
  .etsy-logo { 
    @include span-columns(1);
    margin-top: 22px;
    color: #db4b14;
    font-size: 40px;
    
    @include media($mobile){
      @include span-columns(4);
      @include omega(2n);
      margin-top: 12px;
      color: #db4b14;
      font-size: 30px;
    }
  }
}

.etsy-search {
  @include span-columns(6);
  margin-top: 25px;
  
    button {
    @include appearance(none);
    margin-bottom: 13px;
    margin-left: -6px;
    border: 1px #61b4ce solid;
    border-radius: 3%;
    background-color: #61b4ce;
    padding: 5px;
    width: 83px;
    height: 35px;
    color: white;
    font-size: 14px;
    font-weight: 700;
  }

  .etsy-terms {
    @include appearance(none);
    border: 1px #bcb7b3 solid;
    border-radius: 3%;
    padding: 10px;
    width: 260px;
    height: 35px;
    color: gray;
    font-size: 14px;

    @include media($mobile) {
      width: 75%;
    }
    
    &:focus {
      outline: none;
    }
  }
  
  @include media($mobile) {
   @include span-columns(12);
    margin-top: 20px;
  }
}

.sort-menu {
  @include span-columns(3);
  @include shift(2);
  @include media($mobile) {
   @include span-columns(12);
   @include shift(0);

  }
}

.sort-by {
  margin-right: 5px;
  color: #666;
}

.sort-dropdown {
  @include appearance(none);
  margin-top: 25px;
  margin-bottom: 13px;
  border: 1px #ececec solid;
  border-radius: 4%;
  background-color: #f5f5f1;
  padding: 5px;
  width: 120px;
  color: gray;
  font-size: 14px;
  
  @include media($mobile) {
    margin-top: 20px;
  }

  &:focus {
    outline: none;
  }
}

.data {
  @include outer-container(728px);
  margin-top: 131px;
  
  @include media($mobile) {
    margin-top: 231px;
  }
}

.container {
  @include span-columns(4);
  @include omega(3n);
  margin-bottom: 21px;
  border: 1px #ececec solid;
  border-radius: 1%;
  background-color: white;
  width: 224px;
  height: 219px;
  overflow: hidden;
}

.container:hover {
  box-shadow: 0 0 10px #d9d9d5;
}

.item-image {
  margin-top: 4px;
  margin-left: 4px;
  width: 214px;
  height: 170px;
}


.item-title {
  text-decoration: none;
  color: black;

  p {
    margin-top: -1px;
    margin-left: 5px;
    width: 214px;
    height: 15px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    font-size: 14px;

  } &:hover {
    text-decoration: underline;
  }
}


.item-shop {
  display: inline-block;
  text-decoration: none;
  color: gray;

  p {
    margin-top: -8px;
    margin-left: 5px;
    width: 100px;
    height: 15px;
    overflow: hidden;
    text-decoration: none;
    font-size: 14px;

  } &:hover {
    text-decoration: underline;
  }
}

.shop-info {
  position: relative;
  height: 20px;
}

.item-price {
  display: inline-block;
  position: absolute;
  right: 5px;
  margin: -5px 0;
  padding: 0;
  color: #60c926;
  font-size: 13px;
}
